# =========================
# DJANGO
# =========================
DEBUG=True
SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=localhost,127.0.0.1

# =========================
# DATABASE (PostgreSQL)
# =========================
POSTGRES_DB=dealerfinder
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# =========================
# GOOGLE API
# =========================
GOOGLE_API_KEY=your_google_api_key_here

# =========================
# APP SETTINGS
# =========================
CACHE_TTL_HOURS=24

# =========================
# LIMITS
# =========================
MAX_GOOGLE_CALLS_PER_DAY=500
ANON_DAILY_LIMIT=10
FREE_DAILY_LIMIT=30
PREMIUM_DAILY_LIMIT=500

# =========================
# SECURITY
# =========================
CSRF_TRUSTED_ORIGINS=http://localhost:8000