# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Poetry
poetry.lock

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Env
.env
.env.example
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Docker
*.pid
*.sock

node_modules/
dist/

# Misc
*.swp
*.bak
