{% if not user.is_authenticated and not request.session.anon_terms %}
<div class="col-12">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="accept_terms" id="anonTerms" value="1" required>
        <label class="form-check-label small" for="anonTerms">
            I accept the <a href="{% url 'agb' %}" target="_blank">Terms</a>
            and <a href="{% url 'datenschutz' %}" target="_blank">Privacy Policy</a>
        </label>
    </div>
</div>
{% endif %}