{% load static %}
<div class="modal fade" id="dealerModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content p-4 position-relative">

    <button type="button"
            class="btn-close position-absolute top-0 end-0 m-3"
            data-bs-dismiss="modal"
            aria-label="Close"></button>

    <div class="modal-header border-0 p-0 mb-2">
        <h5 class="fw-bold" id="modalDealerName"></h5>
    </div>

    <div class="modal-body">
        <div id="modalInfo" class="small mb-3"></div>

        <div style="height: 250px;" class="mb-3">
            <iframe id="modalMap" width="100%" height="100%" style="border:0;"></iframe>
        </div>

        <div class="d-flex gap-2 flex-wrap">
            <a id="modalRouteBtn"
               class="btn btn-primary flex-grow-1"
               target="_blank">
                📍 Get directions
            </a>

            {% if user.is_authenticated %}
            <button class="btn btn-outline-secondary flex-grow-1"
                    id="modalFavoriteBtn">
                ➕ Add to Favorites
            </button>
            {% endif %}
        </div>
    </div>

</div>

    </div>

</div>